table {
  margin: auto;
  background-color: rgb(191, 113, 255);
  width: 295px;
  max-width: 295px;
  height: 325px;
  text-align: center;
  border-radius: 4px;
  padding-right: 10px;
}
input {
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  border: 0;
  color: rgb(0, 1, 77);
  background-color: rgb(136, 148, 255);
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}
input:hover {
  border: 0 solid #000;
  color: white;
  background-color: rgb(140, 226, 255);
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px #b0d2cf;
}
input:active {
  top: 4px;
  border: 0 solid #000;
  color: rgb(73, 0, 0);
  background-color: rgb(255, 136, 191);
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: none;
}
#display {
  width: 270px;
  max-width: 270px;
  font-size: 26px;
  text-align: right;
  background-color: #bcffe3;
  float: left;
}
.operator {
  background-color: rgb(149, 211, 164);
  position: relative;
}
.operator:hover {
  background-color: rgb(155, 248, 255);
  box-shadow: 0 4px lightgrey;
}
.operator:active {
  top: 4px;
  box-shadow: none;
}
#clear {
  float: left;
  position: relative;
  display: block;
  background-color: #ff9fa8;
}
#clear:hover {
  float: left;
  display: block;
  background-color: #F297A0;
  margin-bottom: 15px;
  box-shadow: 0 4px #CC7F86;
}
#clear:active {
  float: left;
  top: 4px;
  display: block;
  background-color: #F297A0;
  margin-bottom: 15px;
  box-shadow: none;
}
